<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de cocteles favoritos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<h1 class="text-center">My Favorite Drinks</h1>
<div class="container">
    <div class="row">
        <div th:each="coctel : ${cocteles}" class="col-md-4 mb-4">
            <div class="card">
                <img th:src="${coctel.thumbnail}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" ><a th:href="'/coctel/detail/' + ${coctel.favoriteCocktailsId}" th:text="${coctel.name}"></a></h5>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>